@import './variable.scss';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100px;
}

body {
  margin: 0;
  font-size: 0.14rem;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch
}

body,button,html,input,select,textarea {
  font-family: "Microsoft YaHei",San Francisco,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block
}

audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],template {
  display: none
}

svg:not(:root) {
  overflow: hidden
}

a {
  background: 0 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent
}

abbr[title] {
  border-bottom: 1px dotted
}

b,optgroup,strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0;
  vertical-align: middle
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}

code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em
}

address,cite,em,i,var {
  font-style: normal;
  outline: 0
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible;
  border: none
}

button,select {
  text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal;
  -webkit-appearance: none!important;
  border-radius: 0
}

input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
  -webkit-appearance: none!important;
  margin: 0;
  height: auto
}

input[type=checkbox],input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  resize: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,th {
  padding: 0
}



blockquote,figure,form,h1,h2,h3,h4,h5,h6,p {
  margin: 0
}

dd,dl,li,ol,ul {
  margin: 0;
  padding: 0
}

ol,ul {
  list-style: none
}

h1,h2,h3 {
  font-weight: 400
}

h1 {
  font-size: 0.18rem
}

h2 {
  font-size: 0.16rem
}

h3 {
  font-size: 0.14rem
}

input::-moz-placeholder,textarea::-moz-placeholder {
  color: #ccc
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
  color: #ccc
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  color: #ccc
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

